@import '../../../styles/settings.scss';

.input {
  display: block;
  min-width: 380px;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size ($base-size * 1.5);
  margin: 0 0 $base-size 0;
  font-family: $font-text;
  border-radius: $radius;
  margin-bottom: 25px;
}
